[Bb]uild/
[Oo]bj/
*.o
[Dd]ebug*/
[Rr]elease*/
*.mode*
*.app/
*.pyc
.svn/
*.log
test/

# IDE-specific ignore patterns

*.pbxuser
*.perspective
*.perspectivev3
*.mode1v3
*.mode2v3
#XCode 4
xcuserdata
*.xcworkspace

#vs
*.sdf
*.opensdf
*.suo
*.pdb
*.ilk
*.aps
ipch/

#OSX
.DS_Store
*.swp
*~.nib
# Thumbnails
._*

#Windows
Thumbs.db
*.tlog
*.sdf
Desktop.ini
